{% load static %}
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">Hexatech blog </h6>
        </div>
        <div class="contact-details">
          <p>Oran (Algérie)</p>
          <p>Phone: (+33) 6 88 20 41 91</p>
          <p>Email: <a href="mailto:info@hexatech-innov.com">Info@hexatech-innov.com</a></p>
          <ul class="social-menu">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <li> <a href="#">My Account</a></li>
            <li> <a href="#">Add Listing</a></li>
            <li> <a href="#">Pricing</a></li>
            <li> <a href="#">Privacy &amp; Policy</a></li>
          </ul>
          <ul class="list-unstyled">
            <li> <a href="#">Our Partners</a></li>
            <li> <a href="#">FAQ</a></li>
            <li> <a href="#">How It Works</a></li>
            <li> <a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latest-posts"><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/img9.jpg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>AI assistant </strong><span class="date last-meta">October 26,
                  2020</span></div>
            </div>
          </a><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/img10.png' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>The design of the futur .</strong><span class="date last-meta">October 26,
                  2020</span></div>
            </div>
          </a><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/img11.png' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>The energy of the futur</strong><span class="date last-meta">October 26,
                  2020</span></div>
            </div>
          </a></div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2020. All rights reserved @Hexatech innovation blog.</p>
        </div>
        <div class="col-md-6 text-right">
          <p>Hexatech <a href="https://ai-dashboard-274503.oa.r.appspot.com/" class="text-white">IA performance</a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>