<header class="header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="search-area">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn"><i class="icon-close"></i></div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <form action="{% url 'search' %}">
              <div class="form-group">
                <input type="search" name="q" id="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <!-- Navbar Brand --><a href="/" class="navbar-brand">HEXATECH. Blog of innovation</a>
        <!-- Toggle Button-->
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse"
          aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"><span></span><span></span><span></span></button>
      </div>
      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link ">Home</a>
          </li>
          <li class="nav-item"><a href="/blog" class="nav-link active ">Blog</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link ">Contact</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item"><a href="{% url 'post-create' %}" class="nav-link ">Create</a>
          </li>
          {% endif %}
        </ul>
        <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
        {% comment %} <ul class="langs navbar-text"><a href="#" class="active">EN</a><span> </span><a href="#">ES</a>
        </ul> {% endcomment %}
      </div>
    </div>
  </nav>
</header>