{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load static %}
<section
  style="background: url({% static 'img/header.jpg' %}); background-size: cover; background-position: center center"
  class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>HEXATECH </h1><a href="https://ai-dashboard-274503.oa.r.appspot.com/" class="hero-link"> Machine
          learning and data science project </a>
        <p class="h8"><br>© HAMIDI DJAMEL EDDINE.<br></p>
      </div>
    </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3"> Hexatech blog of innovation and devlopment. </h2>
        <p class="text-big"> Science and technological subject, Devlopment, Production, Marketing.
          and industry</strong><br />Hexatech is a blog where it posteted some blogs with thematics of
          artificial intelligence, mechanical design, mathématics modeling, and mor..
          It also treat other subject in technological devloppement .</p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    {% for obj in object_list %}
    <div class="row d-flex align-items-stretch">
      {% if not forloop.first and not forloop.last %}
      <div class="image col-lg-5"><img src="{{ obj.thumbnail.url }}" alt="..."></div>
      {% endif %}
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for cat in obj.categories.all %}
                <a href="#">{{ cat }}</a>
                {% endfor %}
              </div>
              <a href="{{ post.get_absolute_url }}">
                <h2 class="h4">{{ obj.title }}</h2>
              </a>
            </header>
            <p>{{ obj.overview|linebreaks|truncatechars:200 }}</p>
            <footer class="post-footer d-flex align-items-center"><a href="#"
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ obj.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ obj.author }}</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i> {{ obj.timestamp|timesince }} ago</div>
              <div class="comments"><i class="icon-comment"></i>{{ obj.comment_count }}</div>
            </footer>
          </div>
        </div>
      </div>
      {% if forloop.first or forloop.last %}
      <div class="image col-lg-5"><img src="{{ obj.thumbnail.url }}" alt="..."></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
<!-- Divider Section-->
<section
  style="background: url({% static 'img/header.jpg' %}); background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2></h2><a href="#" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Expertis</h2>
      <p class="text-big">Innovation subjects.</p>
    </header>
    <div class="row">
      {% for obj in latest %}
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="#"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ obj.timestamp }}</div>
            <div class="category">
              {% for cat in obj.categories.all %}
              <a href="#">{{ cat }}</a>
              {% endfor %}
            </div>
          </div><a href="#">
            <h3 class="h4">{{ obj.title }}</h3>
          </a>
          <p class="text-muted">{{ obj.overview|linebreaks|truncatechars:200 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">We innovat with you.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="{% url 'email-list-signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form }}
              <button type="submit" class="submit">Signup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/img5.jpg'" data-fancybox="gallery" class="image"><img
            src="{% static 'img/img5.jpg'' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/img6.jpeg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/img6.jpeg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/img3.jpg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/img3.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/img4.jpg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/img4.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
  </div>
</section>

{% endblock content %}